body .main-wrapper {
    width: 100vh;
    height: 100vh;
}

.first-box {
    width: 90%;
    height: 20%;
    margin: 10px auto;
    border: 5px solid black;
}

.tall-rect {
    width: 5%;
    height: 60%;
    background: purple;
    margin: 7% 1% 1%;
    display: inline-block;
    float: left;
}

.fat-rect {
    width: 40%;
    height: 87%;
    background: green;
    margin: 1% 3%;
    float: left;
    display: inline-block;
}

.circle {
    width: 20%;
    height: 87%;
    background: aqua;
    border-radius: 50%;
    margin: 1% 1%;
    float: left;
    display: inline-block;
}

.second-box {
    width: 90%;
    height: 25%;
    margin: 20px auto;
    border: 5px dotted black;
}

.shadow-box {
    width: 80%;
    height: 70%;
    background: #faf9af;
    margin: 4% auto;
    box-shadow: 5px 10px 5px #2e2e2e;
}

.third-box {
    width: 50%;
    height: 30%;
    margin: 20px auto;
    border: 1px solid #a7a7a7;
    box-shadow: 2px 2px 2px #aaa9a9;
}

.text {
    text-align: center;
    margin: 20%;
    color: #141496;
    font-size: 35px;
    letter-spacing: 5px;


}